<div class="main ">
    <!-- Page Header -->
    <div class="page-header">
        <div class="pull-left">
            <ol class="breadcrumb visible-sm visible-md visible-lg">
                <li><a href="index.html"><i class="icon fa fa-home"></i>主页</a></li>
                <li class="active"><a href="#">用户被投诉处理</a></li>
            </ol>
        </div>

    </div>
    <div class="panel">

        <div class="panel-heading bk-bg-primary">
            <h6><i class="fa fa-table red"></i><span class="break"></span>被投诉用户列表</h6>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr>
                        <th>用户id</th>
                        <th>用户发帖数</th>
                        <th>用户评论数</th>
                        <th>用户被投诉数</th>
                        <th>用户状态</th>
                        <th>操作：用户封禁</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>12</td>
                        <td>2</td>
                        <td>123</td>
                        <td>
                            <span class="label label-warning">100</span>
                        </td>
                        <td>
                            <span class="label label-danger">自由状态</span>
                        </td>
                        <td>
                            <a class="btn btn-success" href="table.html#">
                                忽略
                            </a>

                            <a class="btn btn-danger" href="table.html#">
                               封禁

                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>2</td>
                        <td>123</td>
                        <td>
                            <span class="label label-warning">100</span>
                        </td>
                        <td>
                            <span class="label label-danger">自由状态</span>
                        </td>
                        <td>
                            <a class="btn btn-success" href="table.html#">
                                忽略
                            </a>

                            <a class="btn btn-danger" href="table.html#">
                               封禁

                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>2</td>
                        <td>123</td>
                        <td>
                            <span class="label label-warning">100</span>
                        </td>
                        <td>
                            <span class="label label-danger">自由状态</span>
                        </td>
                        <td>
                            <a class="btn btn-success" href="table.html#">
                                忽略
                            </a>

                            <a class="btn btn-danger" href="table.html#">
                               封禁

                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>2</td>
                        <td>123</td>
                        <td>
                            <span class="label label-warning">100</span>
                        </td>
                        <td>
                            <span class="label label-danger">自由状态</span>
                        </td>
                        <td>
                            <a class="btn btn-success" href="table.html#">
                                忽略
                            </a>

                            <a class="btn btn-danger" href="table.html#">
                               封禁

                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>